env:
  global:
  - CC_TEST_REPORTER_ID=c803bdb1d8399d7865fddc784ea2b1ffd11f3b244941c5d42833ab5e1191fb1a

language: node_js
node_js:
  - 8
  - node

matrix:
  allow_failures:
  - node_js: node

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
  - make develop & sleep 3

script:
  - npm test
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
  - npm run lighthouse

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
